/* Leaflet / RegionMap */
.region-map-marker {
  background: transparent !important;
  border: none !important;
}

.leaflet-container {
  font-family: inherit;
  z-index: 0;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 1;
}
